body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; 
}

.image-section {
    width: 60%;
    flex-grow: 1; 
    background-image: url("../img/img_cadastro.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.form-container {
    width: 40%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    border-radius: 8px; 
}

.form-container h2 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input.main-input {
    margin-left: 10%;
    width: 80%; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 40px; 
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-group input.main-input:focus {
    border-color: #4CAF50;
    outline: none; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.form-group i {
    margin-left: 10%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
}

.form-group button {
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 20%;
    width: 60%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.form-group button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.terms {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

.terms a {
    color: #4CAF50;
    text-decoration: none;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    width: 100px;
}

.img_btn_voltar {
    position: absolute;
    top: 20px;
    left: 1860px;
    height: 37px;
    width: 21px;
    cursor: pointer;
}

.form-group input.endereco-input {
    margin-left: 10%;
    width: 80%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px; 
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    background-color: #f9f9f9; 
}

.form-group input.address-input:focus {
    border-color: #4CAF50;
    outline: none; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
