* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
}

/* PRIMEIRA SECTION - fale conosco */
.fale-conosco {
    background-image: url('https://images.stockcake.com/public/b/d/0/bd06c5a4-18df-4bd8-b97f-f5baf989dcc9/focused-call-center-stockcake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85%;
    box-shadow: 0px 20px 20px 20px #bebebe95;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.fale-conosco::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    background-color: #1E2F1A;
    height: 220px;
    width: 100%;
    max-width: 650px;
    margin-top: 160px;
    margin-left: 5%;
    border-radius: 50px;
    box-shadow: 0px 20px 20px 10px #0000009c;
}

.container h2 {
    font-size: 4vw;
    text-align: center;
    display: flex;
    margin-left: 5%;
    margin-top: 20px;
    padding: 10px;
    color: white;
}

.container span {
    font-size: 1.5vw;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-left: 5%;
    color: white;
}

/* SEGUNDA SECTION - contato ONDO */
.contato-ondo .container-contatos {
    text-align: center;
    margin-top: 100px;
}

.container-contatos h2 {
    color: #4CAF50;
    margin-bottom: 40px;
    font-size: 3vw;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 40px;
    display: inline-block;
    position: relative;
    background-color: #f0f0f0;
    letter-spacing: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container-contatos h2:hover {
    transform: scale(1.05);
    color: #bababa;
}

.card-contato-ondo {
    padding: 40px;
    border-radius: 14px;
    background: #f0f0f0;
    box-shadow: 0px 20px 20px 10px #bebebe95;
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
}

.caixa-contato :hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    color: #4CAF50;
}

.informacoes-contato {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    position: relative;
    justify-content: space-evenly;
}

.caixa-contato {
    width: 31%;
    text-align: left;
}

.caixa-contato strong {
    color: #000;
    font-size: 2.4rem;
    font-weight: 600;
}

.caixa-contato p {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.7rem;
}

.informacoes-contato::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #bababa;
    transform: translateX(-50%);
}

/* TERCEIRA SECTION - mensagem para ONDO */
.container-mensagem {
    margin-top: 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    background-color: #2d3a2e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 60%;
    max-width: 1000px;
}

.form-container h2 {
    color: #f0f0f0;
    margin-bottom: 50px;
    font-size: 3.5rem;
    font-weight: 600;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: 1rem;
    color: #333;
    font-family: "Montserrat";
}

.form-container textarea {
    height: 200px;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
    color: #888888b7;
    font-size: 15px;
}

.form-container input:focus,
.form-container textarea:focus {
    outline: none;
    background-color: #d8d8d8;
}

.form-container button {
    padding: 18px;
    width: 15%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #4CAF50;
    color: #f0f0f0;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #45a049;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media (max-width: 1200px) {
    .container {
        margin-left: 5%;
        width: 90%;
    }

    .informacoes-contato {
        flex-direction: column;
        padding: 0;
    }

    .caixa-contato {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-container button {
        width: 50%;
    }
}