/* Reset básico */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: white;
}

li, ul, a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo da navbar */
.navbar {
    background-color: #F5F5F5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.navbar_lista {
    display: flex;
    gap: 24px;
    padding: 0;
}

.navbar_lista a {
    font-size: 24px;
    font-weight: 500;
    color: #324224;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid transparent; /* Define o border sem cor inicialmente */

}

.navbar_lista a:hover {
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #C19A6B; /* Aplica a cor ao passar o mouse */
    color: #C19A6B;
}

.navbar_container-redesSociais {
    display: flex;
    gap: 12px;
    margin-right: 58px;
}

.navbar_container-redesSociais img {
    height: 26px;
    cursor: pointer;
}

.navbar_container-redesSociais img:hover{
    transition: 0.3s ease-in-out;
    scale: 1.2;
} 

