body{
    padding-top: 0 !important;
    background-color: #dddddd !important;
    display: flex !important;
}

.menu_dashboard{
    display: flex;
    width: 20%;
    background-color: #1E2F1A;
    max-height: 100%;
    height: auto;
}


.boasVindas .container {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuLateral {
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-top: 75px;
    height: 100vh;
}

.menuLateral img{
    width: 73%;
}

.menuLateral a{
    color: #ffffff;
    align-self: center;
}

.container_lista{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;    
    justify-content: center;
}

.menu_item{
    align-self: center;
    align-items: center;
    background-color: transparent;
    border-radius: 14px;
    border: solid 2px transparent;
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 35px;
    padding: 5px 12px;
    width: 65%;
}

.container_lista .select {
    color: #1E2F1A;
    background-color: white;
}

.container_lista a {
    font-size: 16px;
    
    padding: 15px 0px;
    width: 100%;
}

.container_lista .select a {
    color: #1E2F1A;
    font-weight: 600;
}
.container_img img{
    width: 25px;
}
.container_img   {
    height: 26px;
}

.menu_item:hover {
    color: #1E2F1A;
    border: solid 2px white;
}

.disable{
    pointer-events: none;
}