* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
    position: absolute;
    top: 500px;
    left: 174px;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
  
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login {
    display: flex;
    width: 30%;
    padding: 0 60px;
    flex-direction: column;
    justify-content: center;
    background-color: #48733E;
    gap: 30px;
}

.img_btn_voltar {
    height: 36px;
    width: 20px;
}

.txt_login {
    color: white;
    text-align: center;
}

.container_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_erro {
    color: white;
    text-decoration: underline;
}

.img_btn {
    height: 25px;
    width: 31px;
}

.image-wasabi {
    width: 70%;
    background-image: url('../assets/img/img_login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input {
    font-size: 0.8rem;
}

input:focus {
    outline: none;
}

.ipt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 8px;
    height: 20px;
    padding: 20px;
}

.ipt-container img {
    width: 15px;
    height: 15px;
}

.ipt-container input {
    border: none;
    max-width: max-content;
    max-height: max-content;
    color: black;
}

.texSenha {
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    margin: 0 auto;
}

.texSpan {
    color: #042F13;
}

.container-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn_entrar {
    color: #50984E;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 900;
    padding: 15px 80px;
    transition: background-color 0.4s, transform 0.5s;
    cursor: pointer;
}

.btn_entrar:hover {
    color: white;
    background-color: #50984E;
}

.texCadastro {
    color: white;
    font-size: 0.8rem;
}

.img_logo_ondo {
    background-image: url('../assets/img/logo_ondo_login.png');
    height: 100px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}